/* 부가적인 스타일 */
/* bootstrap 아이콘영역 깨짐 해결 */
.feature {
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; 
    height: 3rem;
    width: 3rem;
}

/* 메인영역 배경색 */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250, 1) !important;
}