@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCrudApp.Models
@using BlazorCrudApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCrudApp.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create" class="btn btn-sm btn-primary">Create</a>
</p>

<QuickGrid Class="table" Items="context.Product">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.Qty" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")" class="btn btn-sm btn-primary">Edit</a> |
        <a href="@($"products/details?id={product.Id}")" class="btn btn-sm btn-secondary">Details</a> |
        <a href="@($"products/delete?id={product.Id}")" class="btn btn-sm btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
